.playlistImg {
    opacity: 0;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
    }

    margin-bottom: 1rem;
}

.appearsOnWrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
}
