/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /*If default font-size is 16px; 1 rem = 10 px*/
  box-sizing: inherit;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin-top: 5rem;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template,
[hidden] {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
body {
  margin: 0;
  background-color: #121212;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  /*If default font-size is 16px; 1 rem = 10 px*/
  font-size: 62.5%;
}

body {
  /*Make default font-size bigger. If default font-size is 16px; 1.6 rem = 16 px*/
  font: 1.1rem "Spotify Circular", helvetica, arial, sans-serif;
}

.loadingCenter {
  display: flex;
  justify-content: center;
}

.fansAlsoLikeArtistsWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
}

.fansAlsoLikeArtistAndAppearsOnContainer {
  position: relative;
  width: 32%;
  padding: 0.5rem;
  margin: 0;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: #181818;
  overflow: hidden;
}
.fansAlsoLikeArtistAndAppearsOnContainer:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 520px) {
  .fansAlsoLikeArtistAndAppearsOnContainer {
    padding: 1.3rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .fansAlsoLikeArtistAndAppearsOnContainer {
    padding: 1.3rem;
  }
}
@media screen and (min-width: 992px) {
  .fansAlsoLikeArtistAndAppearsOnContainer {
    width: 15%;
  }
}
.fansAlsoLikeArtistAndAppearsOnContainer h1 {
  display: flex;
  flex-wrap: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 0.9rem;
}
@media screen and (min-width: 520px) {
  .fansAlsoLikeArtistAndAppearsOnContainer h1 {
    margin-bottom: 7rem;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 992px) {
  .fansAlsoLikeArtistAndAppearsOnContainer h1 {
    margin-top: 3rem;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .fansAlsoLikeArtistAndAppearsOnContainer h1 {
    font-size: 1.4rem;
  }
}
.fansAlsoLikeArtistAndAppearsOnContainer h3 {
  font-size: 0.9rem;
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  color: #b3b3b3;
}
@media screen and (min-width: 520px) {
  .fansAlsoLikeArtistAndAppearsOnContainer h3 {
    font-size: 1.3rem;
    left: 1.2rem;
  }
}

.artistCircle {
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}
.artistCircle img {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}

.playlistImg {
  width: 100%;
  margin-bottom: 1rem;
}
.playlistImg img {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}

.appearsOnWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
}

.aboutContainer {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 25rem;
}
.aboutContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 520px) {
  .aboutContainer {
    height: 47rem;
  }
}
@media screen and (min-width: 768px) {
  .aboutContainer {
    height: 57rem;
  }
}
@media screen and (min-width: 992px) {
  .aboutContainer {
    height: 67rem;
  }
}
@media screen and (min-width: 1200px) {
  .aboutContainer {
    height: 77rem;
  }
}

.aboutFade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.artistAboutTextWrap {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
@media screen and (min-width: 768px) {
  .artistAboutTextWrap {
    bottom: 4rem;
    left: 4rem;
  }
}
.artistAboutTextWrap h1 {
  font-size: 1rem;
  font-weight: 900;
}
@media screen and (min-width: 520px) {
  .artistAboutTextWrap h1 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .artistAboutTextWrap h1 {
    font-size: 1.6rem;
  }
}
.artistAboutTextWrap p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
}
@media screen and (min-width: 520px) {
  .artistAboutTextWrap p {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}
@media screen and (min-width: 768px) {
  .artistAboutTextWrap p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

nav {
  background-color: black;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1;
}

.spotifyLogoContainer {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  margin-right: 1.4rem;
}
.spotifyLogoContainer img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .spotifyLogoContainer {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
  }
}

.artistNameHide {
  margin: 0;
  transition: opacity 0.5s;
  opacity: 0;
}

.artistNameOnScroll {
  font-weight: 800;
  margin: 0;
  opacity: 1;
  color: white;
  font-size: 2.2rem;
  transition: opacity 0.5s;
}
@media screen and (min-width: 768px) {
  .artistNameOnScroll {
    font-size: 2.8rem;
  }
}

.artistContainer {
  height: 100%;
  min-height: 100vh;
  background-color: #121212;
  color: white;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), #121212);
}

.bannerContainer {
  position: relative;
  width: 100%;
  min-width: 37rem;
  height: 35rem;
  margin-bottom: 2rem;
}
.bannerContainer .bannerFade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}
.bannerContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
}
.bannerContainer .heartsIcon {
  cursor: pointer;
  margin-right: 0.8rem;
}
.bannerContainer .heartsTitle {
  display: flex;
  align-items: center;
  position: absolute;
  right: 6rem;
  bottom: -1rem;
  font-size: 2.5rem;
}

.fullNameAndMonthlyListenerWrap {
  position: absolute;
  left: 2rem;
  bottom: 3.5rem;
}
.fullNameAndMonthlyListenerWrap .artistFullName {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -0.2rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .fullNameAndMonthlyListenerWrap .artistFullName {
    font-size: 7.5rem;
  }
}
@media screen and (min-width: 992px) {
  .fullNameAndMonthlyListenerWrap .artistFullName {
    font-size: 9.5rem;
  }
}
.fullNameAndMonthlyListenerWrap .monthlyListeners {
  font-size: 1.4rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .fullNameAndMonthlyListenerWrap .monthlyListeners {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 992px) {
  .fullNameAndMonthlyListenerWrap .monthlyListeners {
    font-size: 1.9rem;
  }
}

.artistInfoSectionWrap {
  padding: 3rem 5rem;
}
@media screen and (min-width: 768px) {
  .artistInfoSectionWrap {
    padding: 3rem 10rem !important;
  }
}

@media screen and (min-width: 520px) {
  .artistInfoDiscoWrap {
    padding: 3rem 5rem;
  }
}
@media screen and (min-width: 650px) {
  .artistInfoDiscoWrap {
    padding: 3rem 10rem;
  }
}
@media screen and (min-width: 768px) {
  .artistInfoDiscoWrap {
    padding: 0;
  }
}

.artistInfoSectionTitle,
.discoSectionTitle {
  font-size: 2.8rem;
  font-weight: 900;
  margin: 2rem 0;
  margin-bottom: 3rem;
  color: white;
}

.discoSectionTitle {
  margin-bottom: 8rem;
}

.songsListWrap {
  display: flex;
  flex-direction: column;
}

.song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  margin: 1rem 0;
}
.song:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
.song:hover .songLength {
  color: white;
}

.songIconAndTitleWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.songIconAndTitleWrap h1 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.015rem;
}
@media screen and (min-width: 520px) {
  .songIconAndTitleWrap h1 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .songIconAndTitleWrap h1 {
    font-size: 1.6rem;
  }
}

.playAndMusicalNoteicon {
  font-weight: 400;
  cursor: pointer;
  font-size: 1.6rem;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .playAndMusicalNoteicon {
    font-size: 2.5rem;
  }
}

.songLength {
  font-size: 1.2rem;
  color: #b3b3b3;
}
@media screen and (min-width: 768px) {
  .songLength {
    font-size: 1.6rem;
  }
}

.discoContainer,
discoPicture {
  opacity: 0;
}

.discoImageAndOverviewWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .discoImageAndOverviewWrap {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.discoOverviewWrap {
  text-align: center;
}
.discoOverviewWrap .discoTitle {
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: -0.04rem;
  margin: 2rem 0 1rem 0;
}
@media screen and (min-width: 520px) {
  .discoOverviewWrap .discoTitle {
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
  }
}
@media screen and (min-width: 768px) {
  .discoOverviewWrap .discoTitle {
    font-size: 2.3rem;
    line-height: 3.6rem;
    margin: 0 0 1rem 0;
  }
}
@media screen and (min-width: 992px) {
  .discoOverviewWrap .discoTitle {
    font-size: 2.5rem;
  }
}
.discoOverviewWrap .discoStack {
  text-align: left;
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
}
@media screen and (min-width: 520px) {
  .discoOverviewWrap .discoStack {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .discoOverviewWrap .discoStack {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .discoOverviewWrap .discoStack {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .discoOverviewWrap {
    width: 50%;
    text-align: left;
  }
}

.discoImageContainer {
  width: 100%;
}
.discoImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .discoImageContainer {
    margin-right: 4rem;
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .discoImageContainer {
    margin-right: 6rem;
    height: 33rem;
  }
}

.discoListWrap {
  position: relative;
  overflow: hidden;
  max-height: 200rem;
}
.discoListWrap .readMoreFade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
  background: linear-gradient(0deg, #121212 0, rgba(4, 25, 57, 0));
}

.showMoreButton {
  margin-top: 4rem;
  margin-left: 2rem;
  text-transform: uppercase;
  padding: 1rem 5rem;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  font-weight: 900;
  outline: none !important;
  border-radius: 5rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .showMoreButton {
    font-size: 1.4rem;
  }
}

.discoContainer {
  margin-bottom: 10rem;
}

.showDiscoDesc {
  display: block;
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #b3b3b3;
  text-align: left;
}
@media screen and (min-width: 520px) {
  .showDiscoDesc {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  .showDiscoDesc {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .showDiscoDesc {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

.hideDiscoDesc,
.hideGitHubAndExternalWrap,
.showMoreButtonHide {
  display: none;
}

.showGitHubAndExternalWrap {
  display: flex;
  align-items: center;
  color: white;
  margin-top: 1rem;
}
.showGitHubAndExternalWrap h2 {
  font-weight: 900;
  font-size: 1.3rem;
  margin-right: 1rem;
}

.githubAndExternalIcon {
  font-weight: 400;
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .githubAndExternalIcon {
    font-size: 2.5rem;
  }
}

.invisibleSpan {
  display: invisible;
}

/*# sourceMappingURL=main.css.map */
