.artistContainer {
    height: 100%;
    min-height: 100vh;
    background-color: #121212;
    color: white;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), #121212);
}

.bannerContainer {
    position: relative;
    width: 100%;
    min-width: 37rem;
    height: 35rem;
    margin-bottom: 2rem;

    .bannerFade {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.5s;
    }

    .heartsIcon {
        cursor: pointer;
        margin-right: 0.8rem;
    }
    .heartsTitle {
        display: flex;
        align-items: center;
        position: absolute;
        right: 6rem;
        bottom: -1rem;
        font-size: 2.5rem;
    }
}

.fullNameAndMonthlyListenerWrap {
    position: absolute;
    left: 2rem;
    bottom: 3.5rem;
    .artistFullName {
        font-size: 5rem;
        font-weight: 900;
        letter-spacing: -0.2rem;
        margin: 0;
        @media screen and (min-width: $md_breakpoint) {
            font-size: 7.5rem;
        }

        @media screen and (min-width: $lg_breakpoint) {
            font-size: 9.5rem;
        }
    }
    .monthlyListeners {
        font-size: 1.4rem;

        margin-top: 1rem;
        @media screen and (min-width: $md_breakpoint) {
            font-size: 1.6rem;
        }

        @media screen and (min-width: $lg_breakpoint) {
            font-size: 1.9rem;
        }
    }
}

.artistInfoSectionWrap {
    padding: 3rem 5rem;
    @media screen and (min-width: $md_breakpoint) {
        padding: 3rem 10rem !important;
    }
}

.artistInfoDiscoWrap {
    @media screen and (min-width: $sm_breakpoint) {
        padding: 3rem 5rem;
    }
    @media screen and (min-width: 650px) {
        padding: 3rem 10rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        padding: 0;
    }
}

.artistInfoSectionTitle,
.discoSectionTitle {
    font-size: 2.8rem;
    font-weight: 900;
    margin: 2rem 0;
    margin-bottom: 3rem;
    color: white;
}

.discoSectionTitle {
    margin-bottom: 8rem;
}
.songsListWrap {
    display: flex;
    flex-direction: column;
}

.song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    margin: 1rem 0;
    &:hover {
        .songLength {
            color: white;
        }
        cursor: pointer;
        background-color: hsla(0, 0%, 100%, 0.1);
    }
}

.songIconAndTitleWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.015rem;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 1.4rem;
        }
        @media screen and (min-width: $md_breakpoint) {
            font-size: 1.6rem;
        }
    }
}

.playAndMusicalNoteicon {
    font-weight: 400;
    cursor: pointer;
    font-size: 1.6rem;
    margin-right: 2rem;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 2.5rem;
    }
}

.songLength {
    font-size: 1.2rem;
    color: $spotify-grey;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.6rem;
    }
}

.discoContainer,
discoPicture {
    opacity: 0;
    position: relative;
}

.discoImageAndOverviewWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $md_breakpoint) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
.discoOverviewWrap {
    text-align: center;
    .discoTitle {
        font-size: 1.8rem;
        font-weight: 900;
        letter-spacing: -0.04rem;

        margin: 2rem 0 1rem 0;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 2rem;
            margin: 3rem 0 1rem 0;
        }
        @media screen and (min-width: $md_breakpoint) {
            font-size: 2.3rem;
            line-height: 3.6rem;
            margin: 0 0 1rem 0;
        }
        @media screen and (min-width: $lg_breakpoint) {
            font-size: 2.5rem;
        }
    }
    .discoStack {
        text-align: left;
        font-size: 1rem;
        font-weight: 800;
        margin: 0;

        @media screen and (min-width: $sm_breakpoint) {
            font-size: 1.4rem;
        }
        @media screen and (min-width: $md_breakpoint) {
            font-size: 1.6rem;
        }

        @media screen and (min-width: $xl_breakpoint) {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
    @media screen and (min-width: $md_breakpoint) {
        width: 50%;
        text-align: left;
    }
}

.discoImageContainer {
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media screen and (min-width: $md_breakpoint) {
        margin-right: 4rem;
        width: 50%;
    }
    @media screen and (min-width: $lg_breakpoint) {
        margin-right: 6rem;
        height: 33rem;
    }
}

.discoListWrap {
    position: relative;
    overflow: hidden;
    max-height: 200rem;
    .readMoreFade {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        z-index: 1;
        background: linear-gradient(0deg, $spotify-black 0, rgba(4, 25, 57, 0));
    }
}

.showMoreButton {
    margin-top: 4rem;
    margin-left: 2rem;
    text-transform: uppercase;
    padding: 1rem 5rem;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-weight: 900;
    outline: none !important;
    border-radius: 5rem;
    cursor: pointer;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.4rem;
    }
}
.discoContainer {
    margin-bottom: 10rem;
}

.showDiscoDesc {
    display: block;
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 400;

    color: $spotify-grey;
    text-align: left;

    @media screen and (min-width: $sm_breakpoint) {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    // @media screen and (min-width: $lg_breakpoint) {
    //     font-size: 1.6rem;
    //     line-height: 2.2rem;
    // }
    @media screen and (min-width: $xl_breakpoint) {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
}

.hideDiscoDesc,
.hideGitHubAndExternalWrap,
.showMoreButtonHide {
    display: none;
}

.showGitHubAndExternalWrap {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 1rem;
    h2 {
        font-weight: 900;
        font-size: 1.3rem;
        margin-right: 1rem;
    }
}

.githubAndExternalIcon {
    font-weight: 400;
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 2rem;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 2.5rem;
    }
}

.invisibleSpan {
    display: invisible;
    position: absolute;
    top: -10rem;
}
